@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans:wght@300;400;600;700&display=swap");
body {
  font-family: "Open Sans", sans-serif;
  margin: 0%;
}

/* #header-wrapper {
  height: 905px;
  width: 100vw;
  background-image: url(./banner\ 1.png.png);
  background-size: contain;
} */

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: white;
  padding: 10px 30px 0 30px;
  position: fixed;
  width: calc(100% - 60px);
  background-color: rgba(0, 0, 0, 0);
  z-index: 1;
}


header.top {
  background: rgba(34, 34, 34, 0.5);
  color: #fff;
  transition: all 0.3s ease;
}

header.scrolled {
	background: rgba(85, 85, 85, 0.1111);
	color: #e0e0e0;
transition: all 0.3s ease;
}


#logo-div {
  width: 190px;
  height: 45px;
  margin-left: 30px;
  margin-top: 5px;
}

#logo-div img {
  float: left;
}

#logo-div p {
  float: left;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 18px;
  margin: 10px 0 0 17px;
}

#logo-divider {
  height: 45px;
  width: 2px;
  background-color: white;
  float: right;
}

header li {
  text-decoration: none;
  display: inline;
  margin-right: 20px;
  font-size: 16px;
}

li a {
  text-decoration: none;
  color: white;
  transition: 0.4s linear;
}

li a:hover {
  color: red;
}

#ul-div {
  margin-right: 25px;
}

#header-left {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.header-right {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#bubbles {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 8px;
}

#bubbles img {
  height: 20px;
  width: 20px;
  margin-right: 10px;
  margin-top: 10px;
}

#bubbles a {
  margin-right: 25px;
  margin-top: 10px;
  font-size: 12px;
  text-decoration: none;
  color: white;
  transition: 0.5s linear;
}

#bubbles a:hover {
  color: red;
}

#logo-button {
  margin-right: 30px;
  width: 170px;
  height: 35px;
  margin-top: 12px;
  background-color: red;
  border-radius: 2em;
  text-align: center;
  transition: 0.5s linear;
}

#logo-button:hover {
  transform: scale(0.8);
}

#logo-button p {
  display: inline;
  line-height: 35px;
  font-size: 12px;
}

#logo-button p a {
  text-decoration: none;
  color: white;
}

.slider {
  width: 100%;
  height: 90vh;
  background-image: url(./banner\ 1.png.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.slider-images-1{
  background: url(./w2.png);
  height: 90%;
  width: 100%;
}

.slider-images-2{
  background: url(./w3.png);
  height: 90vh;
  width: 100%;
}

.slider-images-3{
  background: url(./w4.png);
  height: 90vh;
  width: 100%;
}

.sub-slider {
  text-align: center;
  padding: 10px 200px 65px 200px;
}

.sub-slider p:first-child {
  font-size: 48px;
  font-weight: 900;
}

.sub-slider p:last-child {
  font-size: 18px;
  font-weight: 900;
}

.sub-slider-flex-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  background-image: url(./123.png);
  background-size: cover;
  padding: 10px;
  width: calc(100%/3 - 60px);
  height: 450px;
  color: white;
  font-size: 18px;
  border-radius: 3%;
}

.sub-slider-flex-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  background-image: url(./456.png);
  background-size: cover;
 width: calc(100%/3 - 60px);
  height: 450px;
  color: white;
  font-size: 18px;
  border-radius: 3%;
  padding: 10px;
}

.sub-slider-flex-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  /* text-align: center; */
  background-image: url(./789.png);
  background-size: cover;
   width: calc(100%/3 - 60px);
  height: 450px;
  color: white;
  font-size: 18px;
  border-radius: 3%;
  padding: 10px;
  text-align: center;
}

#num {
  font-size: 72px;
  font-weight: 900;
  margin: 0px;
  margin-top: 20px;
}

#divider {
  height: 2px;
  width: 80%;
  background-color: white;
}

#button {
  height: 50px;
  width: 200px;
  background-color: rgba(0, 0, 0, 0);
  border: 2px solid white;
  border-radius: 100px;
  line-height: 10px;
  font-weight: bold;
  transition: 1s linear;
  margin-bottom: 30px;
}

#button:hover {
  background-color: red;
}

.sub-slider-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 0 0 50px 0;
}

.our-works-block {
  width: 100%;
  padding: 50px 0 50px 0;
  background-color: black;
}

.our-works-block h1 {
  text-align: center;
  font-size: 48px;
  font-weight: 900;
  color: white;
  margin: 0%;
}

.our-works-block p {
  text-align: center;
  font-weight: 900;
  color: white;
}

.our-works-block-img {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: black;
}

.our-works-block-img div {
  margin-bottom: 50px;
}

#our-works-block-img-1 {
  background: url(./w2.png);
  width: calc(100%/3 - 60px);
  height: 450px;
  background-size: cover;
  border-radius: 3%;
}

#our-works-block-img-2 {
  background: url(./w3.png);
  width: calc(100%/3 - 60px);
  height: 450px;
  background-size: cover;
  border-radius: 3%;
}

#our-works-block-img-3 {
  background: url(./w4.png);
  width: calc(100%/3 - 60px);
  height: 450px;
  background-size: cover;
  border-radius: 3%;
}

#our-works-block-img-4 {
  background: url(./w5.png);
  width: calc(100%/3 - 60px);
  height: 450px;
  background-size: cover;
  border-radius: 3%;
}

#our-works-block-img-5 {
  background: url(./w6.png);
  width:calc(100%/3 - 60px);
  height: 450px;
  background-size: cover;
  border-radius: 3%;
}

#our-works-block-img-6 {
  background: url(./w7.png);
  width: calc(100%/3 - 60px);
  height: 450px;
  background-size: cover;
  border-radius: 3%;
}

.open-gallery-button-wrapper {
  background-color: black;
  width: 100%;
  height: 120px;
}

#open-gallery-button {
  width: 300px;
  height: 60px;
  background-color: red;
  color: white;
  border-radius: 100px;
  margin: auto;
  transition: 1s ease-out;
}

#open-gallery-button:hover {
  transform: translateX(50px);
}

#open-gallery-button p {
  margin: 0%;
  float: left;
  line-height: 56px;
  padding-left: 40px;
  font-size: 18px;
  transition: 1s linear;
}

#open-gallery-button p a {
  text-decoration: none;
  color: white;
}
#open-gallery-button img {
  float: right;
  padding: 7px 40px 0 0;
  transition: 1s linear;
}

.how-we-work h1 {
  text-align: center;
  font-size: 48px;
  font-weight: 900;
  padding: 20px 0 60px 0;
}

.steps {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-bottom: 50px;
  width: 80%;
  margin: 0 20px 0 20px;
}

.steps div {
  display: flex;
  flex-direction: column;
  max-width: 75%;
  margin-left: 10px;
  margin-right: 10px;
}

.steps img {
  max-width: 125px;
  max-height: 125px;
  margin-bottom: 20px;
}

.p-first {
  font-size: 24px;
  font-weight: 900;
}

.steps div p:last-child {
  font-size: 18px;
  font-weight: 600;
  margin: 0;
}

.submit-block {
  height: 200px;
  width: 100%;
  background-color: black;
}

 .submit-block-flex-wrapper {
  display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: white;
    height: 50%;
    line-height: 35px;
    padding: 30px 100px 0 100px;
}

.submit-block-flex-wrapper label {
      display: block;
    margin-left: 15px;
}

.submit-block-flex-wrapper div input {
    border-radius: 12px;
    font-size: 16px;
    height: 40px;
    width: 250px;
    border: none;
}

.submit-block-flex-wrapper button {
      width: 160px;
    height: 50px;
    border-radius: 11px;
    border: none;
    margin-top: 31px;
    background: red;
    color: white;
    font-size: 16px;
    font-weight: 700;
}

.submit-block > p {
    color: white;
    margin-top: 0%;
    /* text-align: center; */
    padding: 10px 0 0 250px;

}
.submit-block-flex-wrapper div p {
  font-size: 18px;
}


input[type="text"]::placeholder {
  padding-left: 15px;
}


.our-team {
  max-width: 50%;
  margin: auto;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

.our-team h1 {
  font-size: 48px;
  font-weight: 900;
}

.our-team p {
  font-size: 18px;
  font-weight: 600;
}

.our-team-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-align: center;
  align-items: center;
}

.our-team-flex p {
  font-weight: 600;
}

#member-1 {
  background: url(./max.png);
  height: 450px;
  background-size: cover;
  border-radius: 3%;
  margin: auto;
  text-align: center;
  align-items: center;
}

#member-2 {
  background: url(./petr.png);
  height: 450px;
  background-size: cover;
  border-radius: 3%;
  margin: auto;
  text-align: center;
  align-items: center;
}

#member-3 {
  background: url(./anna.png);
  height: 450px;
  background-size: cover;
  border-radius: 3%;
  margin: auto;
  text-align: center;
  align-items: center;
}

.our-team-flex > div {
  padding-bottom: 50px;
 width: 30%;
}

.to-left {
  text-align: left;
}

footer {
  width: 100%;
  height: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: white;
  background-color: black;
  /* line-height: 45px; */
}

.footer-logo {
  font-size: 18px;
  font-weight: 900;
  text-transform: uppercase;
}

footer a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  font-weight: 600;
  transition: 0.4s linear;
}

footer a:hover {
  color: red;
}

footer div {
  padding: 12px;
}

footer div:first-child {
  padding: 12px 12px 12px 30px;
}

.subfooter {
  width: 100%;
  height: 10px;
  background-color: red;
}

.logos img {
  margin: 0 5px 0 5px;
}


/* @media screen and (max-width: 600px) {

  header {
    padding: 10px 0 0 0;
  }

#header-left {
    display: flex;
    flex-direction: row;
    justify-content: center;
      float: left;
    margin-left: 10px;
}
.header-right {
  display: none;
}
.ul-div.active {
    transform: translate(90%, 0%);

} */

@media screen and (min-width: 610px)  {
  .header-right {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}

@media screen and (max-width: 800px) {

  
  #bubbles {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 50%;
  }
  #bubbles a {
    margin-right: 25px;
    font-size: 10px;
  }
  #bubbles a:last-child {
    margin-right: 10px;
  }

  #logo-button {
    width: 40%;
    height: 35px;
    margin-top: 10px;
    margin-right: 0;
    background-color: red;
    border-radius: 2em;
    text-align: center;
    transition: 0.5s linear;
  }

  #logo-button p {
    display: inline;
    line-height: 35px;
    font-size: 10px;
  }

}






 @media screen and (max-width: 960px) {

  .submit-block {
    height: 300px;
  }
  
  .submit-block-flex-wrapper {
    flex-direction: column;
    justify-content: center;
    font-size: 14px;
    flex-direction: column;
    justify-content: center;
    font-size: 13px;
    margin: auto;
    text-align: center;
    line-height: 20px;
  }

  .submit-block-flex-wrapper label {
    display: block;
    margin-left: 0px;
    margin-right: 10px;
    margin-top: 5px;
  }

  .submit-block-flex-wrapper div input {
    border-radius: 2em;
    font-size: 16px;
    height: 26px;
    width: 250px;
    border: none;
    margin: auto;
  }
  .submit-block-flex-wrapper button {
    width: 160px;
    height: 30px;
    border-radius: 11px;
    border: none;
    margin-top: 10px;
    background: red;
    color: white;
    font-size: 16px;
    font-weight: 700;
    /* margin: auto; */
    /* margin-top: 12px; */
    margin: auto;
    margin-top: 15px;
  }
  .submit-block > p {
    color: white;
    /* margin: 20px 10px 0px 10px; */
    padding: 25px 10px 0px 10px;
    text-align: center;
  }

  .our-team-flex p {
    text-align: center;
  }

  .our-team-flex > div {
    width: 70%;
  }

  .to-left {
    margin: auto;
  }

  .our-team-flex #member-1, #member-2, #member-3 {
    padding-bottom: 50px;
    max-width: 100%;
    margin: auto;
  
  }
 }


@media screen and (max-width: 1629px) {
  .our-works-block-img {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }

.our-works-block-img > div {
  padding: 10px;
  width: calc(100%/3 - 60px);
}

  .sub-slider-flex-right {
    text-align: center;
  }
  

  .our-team-flex {
display: flex;
flex-direction: row;
justify-content: space-around;
align-items: center;
}



.steps {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.steps > div {
      padding: 75px;
  
}

.how-we-work h1 {
  padding: 20px 0 0 0;
}


@media screen and (max-width: 1100px) {
  .sub-slider-flex {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

  .sub-slider-flex-center,
  .sub-slider-flex-left {
    margin-bottom: 3%;
    background-size: cover;
    width: 70vw;
  }

  .sub-slider-flex-right {
    width: 70vw;
  }

  #our-works-block-img-1,
  #our-works-block-img-2,
  #our-works-block-img-3,
  #our-works-block-img-4,
  #our-works-block-img-5,
  #our-works-block-img-6 {
    width: 70vw;
  }

  /* .submit-block > p {
    color: white;
    padding: 8px 0px 0px 10%;
  }

  .submit-block-flex-wrapper div:last-child {
    width: 25%;
    margin-top: 50px;
  } */

  .our-team-flex {
    flex-direction: column;
  }

  .our-team-flex > div {
    width: 70%;
  }

  .our-team-flex p {
    text-align: center;
    max-width: 400px;
    margin: auto;
  }

   .submit-block-flex-wrapper div > p {
    line-height: 25px;
    font-size: 12px;
   }

     .submit-block p {
     font-size: 12px;
     }


@media screen and (max-width: 650px) {
 footer div {
  font-size: 10px;
   
 }

 .steps div {
   text-align: center;
   width: 70%;
   margin: 0%;
 }

 .steps img {
   margin: auto;
 }

 }

@media screen and (max-width: 850px) {
  .sub-slider {
 padding: 0 0 20px 0;
  }
}

@media screen and (max-width: 450px) {

  footer {
    width: 100vw;
  }

  .submit-block {
    height: 45vh;
  }

  .logos {
    padding: 0%;
  }

  /* .submit-block-flex-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  .submit-block-flex-wrapper div {
    width: 40%;;
  }
  .submit-block-flex-wrapper div:last-child {
    width: 30%;
    height: 3vh;
  }

  .submit-block-flex-wrapper div:last-child p {
    margin-top: 0;
  } */
}



@media screen and (max-width: 1266px) {

  .header-right {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .slider {
    width: 100vw;
    background-size: contain;
    background-repeat: repeat;
  }
  .menu-btn {
    width: 30px;
    height: 30px;
    position: relative;
    z-index: 2;
    overflow: hidden;
    top: 20%;
    left: 10%;
  }
  .menu-btn span {
    width: 30px;
    height: 2px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    transition: all 0.5s;
  }
  .menu-btn span:nth-of-type(2) {
    top: calc(50% - 5px);
  }
  .menu-btn span:nth-of-type(3) {
    top: calc(50% + 5px);
  }

  .ul-div {
    position: fixed;
    top: 0;
    left: 0;
    width: 180px;
    height: 300px;
    background: rgba(0, 0, 0, 0.5s);
    transform: translateX(-100%);
    transition: 0.001s;
  }
  .ul-div.active {
    transform: translate(160%, 0%);
  }

  .ul-div.active ul {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: left;
  }

  .ul-div li {
    list-style-type: none;
    background-color: black;
    border: 2px solid white;
    height: 45px;
    text-align: center;
    line-height: 45px;
  }

  .menu-btn.active span:nth-of-type(1) {
    display: none;
  }
  .menu-btn.active span:nth-of-type(2) {
    top: 50%;
    transform: translate(-50%, 0%) rotate(45deg);
  }
  .menu-btn.active span:nth-of-type(3) {
    top: 50%;
    transform: translate(-50%, 0%) rotate(-45deg);
  }
   .ul-div.active {
    transform: translate(115%, 0%);
    height: 95%;
  }
  #logo-div p {
    float: left;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
    margin: 11px 0 0 11px;
  }
  #logo-div img {
        width: 20%;
    padding: 4px 0 0 0;
  }
  #logo-div {
    width: 84%;
    height: 45px;
    margin-top: 5px;
  }

  .steps {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}



}

@media screen and (max-width: 650px) {
  footer div:first-child p {
    font-size: 80%;
  }

  header {
    width: calc(100% - 60px);
    padding: 10px 30px 0 30px ;

  }

  #logo-div {
    width: 140px;
    height: 45px;
    margin-top: 5px;
    margin-left: 10%;
  }

  #logo-divider {
    margin-left: 4px;
  }

  #logo-div img {
    width: 15%;
    padding: 9px 0 0 5px;
  }
#logo-div p{
    float: left;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
    margin: 11px 0 0 11px;
}
  #policy {
    font-size: 70%;
  }

  .header-right {
    display: none;
  }
}

